.root {
  --accent: #174180;
  --accent-light:#3774a7;
  --pure-white:#fff;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: var(--accent);
}

.container {
  width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
  border: 1px solid black;
}

.header {
  background-color: var(--accent);
}

.header a {
  color: var(--pure-white);
  text-decoration: none;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  width: 20%;
  font-size: 30px;
  font-weight: 800;
  letter-spacing: 3px;
}

.header-menu {
  display: flex;
  height: 30px;
  margin: 0;
  padding: 0;
  list-style: none;
}



.header-menu-link{
  font-size: 16px;
  line-height: 16px;
 padding: 15px;
 text-transform: uppercase;
 transition: background-color 0.4s;
}

.header-menu-link :hover{
  background-color: var(--accent-light);
}


